html {
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
  font-family: sans-serif;
  color: #9993bd;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

input,
select,
select:focus,
textarea {
  margin: 0;
  font-size: 16px;
}

button {
  font-size: 1em;
  padding: 16px 24px;
  border: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  /* grid container settings */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header'
    'main'
    'footer';
}

/* header {
  background-color: bisque;
  padding: 10px;

  grid-area: header;
} */

main {
  grid-area: main;
  overflow: auto;
  padding: 8px;
}

main li {
  list-style-type: none;
  background-color: #f4f7fe;
  box-shadow: 0px 3px 4px 3px #c6d6fb;
  border-radius: 8px;
  margin: 0px 0px 16px;
  padding: 0;
}

main li .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 16px 16px 8px;
}

main li .header h1,
main li .header p {
  font-size: large;
  font-weight: 600;
  margin: 0;
}

main li .details {
  display: flex;
  padding: 0px 16px;
  justify-content: space-between;
}

main li .details p {
  display: flex;
  align-items: center;
}

main li .details svg {
  margin-right: 8px;
}

main button {
  width: 100%;
  border-radius: 8px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background-color: #9993bd;
  font-weight: 600;
  color: white;
  margin: 16px 0px 0px;
}

/* footer {
  background-color: darkkhaki;
  padding: 10px;

  grid-area: footer;
}

footer ul {
  display: flex;
  justify-content: flex-end;
}

.modal {
  background-color: darkslateblue;
  padding: 10px;

  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  transition: transform 1s;
  width: 100%;
}

.modal.open {
  transform: translateY(0);
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
}

.modal-actions li + li {
  margin-left: 10px;
}

.horizontal {
  display: flex;
  justify-content: space-between;
}

label {
  margin: 10px 0px;
} */
