:root {
  --backgroud-color: #f4f7fe;
  --space-small: 8px;
  --shadow: 0px 3px 4px 3px #c6d6fb;
}

html {
  box-sizing: border-box;
  font-family: sans-serif;
  color: #9993bd;
  background-color: var(--backgroud-color, #f4f7fe);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  max-width: 600px;
  margin: var(--space-small, 8px) auto;
  padding: 0px var(--space-small, 8px);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  height: 100%;
  width: 100%;
}

/* GANERIC BUTTON */
button {
  font-size: 1em;
  border: none;
  font-weight: 600;
  margin: 0;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  flex: 0 0 auto;
  color: inherit;
}

button[disabled] {
  opacity: 0.25;
  cursor: not-allowed;
}

button:focus {
  outline: none;
}

/* LIST ITEM */
.item {
  background-color: var(--backgroud-color, #f4f7fe);
  box-shadow: var(--shadow);
  border-radius: var(--space-small, 8px);
  margin: 0px 0px 16px;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-take-out {
  width: 40px;
  height: 40px;
}

.item-content {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
}

.item-header {
  font-size: large;
  font-weight: 500;
  margin: 0 12px;
  padding: 0;
  display: flex;
  align-items: center;
}

.item-details {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
}

.item-details div {
  display: flex;
}

.icon {
  margin-right: var(--space-small, 8px);
  height: 20px;
  width: 20px;
}

.icon-header {
  margin-bottom: var(--space-small, 8px);
  height: 32px;
  width: 32px;
}

/* GROUP */
.group__collapsed {
  height: 0;
  overflow: hidden;
}

/* GROUP SEPARATOR */
h3 {
  position: relative;
}

h3 hr {
  background: rgb(65, 223, 208);
  background: linear-gradient(
    135deg,
    rgba(65, 223, 208, 1) 0%,
    rgba(238, 131, 239, 1) 100%
  );
  border: none;
  margin: 0;
  height: 3px;
  border-radius: 2px;
}

h3 button {
  white-space: nowrap;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  background: var(--backgroud-color, #f4f7fe);
  padding: 0 var(--space-small, 8px);
}

/* HEADER */
nav {
  position: sticky;
  top: 0;
  background-color: var(--backgroud-color, #f4f7fe);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: calc(var(--space-small, 8px) * -1) calc(var(--space-small, 8px) * -1)
    0px;
  padding: 16px;
  box-shadow: var(--shadow);
  z-index: 1;
}

nav button {
  width: 40px;
  height: 40px;
}

.types {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}

.types img {
  height: 32px;
  width: 32px;
}

.types div {
  display: flex;
  flex-direction: column;
  margin: 0 12px 0 0;
  align-items: center;
}

.types img {
  margin: 0 0 4px;
}

/* LOADING */
#loading {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  background-color: var(--backgroud-color, #f4f7fe);
  z-index: 2;
  display: none;
}

#loading.visible {
  display: flex;
}

#loading div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#loading img {
  max-width: 250px;
  min-width: 200px;
}

/* ERROR */
#error {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  background-color: var(--backgroud-color, #f4f7fe);
  z-index: 2;
  display: none;
}

#error.visible {
  display: flex;
}

#error div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#error img {
  max-width: 250px;
  min-width: 200px;
}
